body{
    font-family: Arial, sans-serif;
    background-color: #cafadf;
}

.cv-container{
    width: 210mms;
    background-color: white;
    padding: 15mm;
    border-radius: 8px;
    box-sizing: border-box;
}

.header-section{
    text-align: left;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 210px;
    height: 210px;
    margin-top: -70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #2e8b57; 
}

header h1{

    font-size: 2.2em;
    color: #034e24;
    margin: -20px 0px 0 0;
}

header p {
    margin-top: 5px;
    font-size: 1.35em;
    color: black;
}
header p a{
    color: black;
}
.introduce{
    text-align: justify;
    margin-top: 20px;
}

.content-section {
    display: flex;
    gap: 20px;
}

.left, .right{
    flex:1;
}

section h1{
    color: #034e24;
}
.customer-hr{
    background-color: #034e24;
    height: 1.5px;
}
.item-hr{
    background-color: #034e24;
}
